<form [formGroup]="categoryFormGroup" (ngSubmit)="save()">
    <mat-dialog-content>
        <h3 id="caption">{{caption}}</h3>
        <div class="field-container">
            <mat-form-field>
                <mat-label>Категория</mat-label>
                <input type="text" name="category" matInput [formControl]="categoryControl"
                    [matAutocomplete]="categoryAutoComplete" required
                    placeholder="Выберите категорию">
                <mat-autocomplete #categoryAutoComplete="matAutocomplete">
                    <mat-option *ngFor="let filteredCategory of filteredCategories | async" [value]="filteredCategory">
                        {{filteredCategory}}</mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="categoryControl.hasError('required')">Выберите категорию!</mat-error>
                <mat-error *ngIf="categoryControl.hasError('maxLength')">Количество символов в категории не может
                    превышать 500 символов!</mat-error>
                <mat-error *ngIf="categoryNameControl.hasError('minLength')">Количество символов в названии категории не
                    может быть меньше 3 символов!</mat-error>
            </mat-form-field>
            <button type="button" *ngIf="!isPanelWithNewCategoryOpened" mat-stroked-button class="btn-action"
                (click)="openNewCategoryPanel()" color="primary">
                <mat-icon>add</mat-icon>
            </button>
            <button type="button" *ngIf="isPanelWithNewCategoryOpened" mat-stroked-button class="btn-action"
                (click)="openNewCategoryPanel()" color="primary">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="container-expanded-panel" *ngIf="isPanelWithNewCategoryOpened">
            <mat-form-field>
                <mat-label>Название категории</mat-label>
                <input type="text" matInput name="categoryName" [formControl]="categoryNameControl"
                    placeholder="Введите название">
                <button mat-button type="reset" *ngIf="categoryNameControl.value" matSuffix mat-icon-button
                    aria-label="Очистить" (click)="categoryNameControl.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="categoryNameControl.hasError('required')">Введите название категории!</mat-error>
                <mat-error *ngIf="categoryNameControl.hasError('maxLength')">Количество символов в названии категории не
                    может превышать 500 символов!</mat-error>
                <mat-error *ngIf="categoryNameControl.hasError('minLength')">Количество символов в названии категории не
                    может быть меньше 3 символов!</mat-error>
            </mat-form-field>
            <button class="btn-action" type="button" [disabled]="categoryNameControl.invalid" mat-stroked-button color="primary"
                (click)="addNewCategory()">
                <mat-icon>done_outline</mat-icon>
            </button>
        </div>
        <mat-form-field id="field-subcategory">
            <mat-label>Название подкатегории</mat-label>
            <input type="text" matInput name="subCategoryName" [formControl]="subCategoryNameControl"
                placeholder="Введите название">
            <button mat-button type="reset" *ngIf="subCategoryNameControl.value" matSuffix mat-icon-button
                aria-label="Очистить" (click)="subCategoryNameControl.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="subCategoryNameControl.hasError('required')">Введите название подкатегории!</mat-error>
            <mat-error *ngIf="subCategoryNameControl.hasError('maxLength')">Количество символов в названии подкатегории
                не может превышать 500 символов!</mat-error>
            <mat-error *ngIf="subCategoryNameControl.hasError('minLength')">Количество символов в названии подкатегории
                не может быть меньше 3 символов!</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button [disabled]="categoryFormGroup.invalid" type="submit" id="btn-save" mat-raised-button
            color="primary">Сохранить</button>
        <button id="btn-cancel" type="button" mat-raised-button color="warn" (click)="cancel()">Отмена</button>
    </mat-dialog-actions>
</form>