<app-toolbar>
  <div id="actions-container">
    <mat-form-field appearance="outline" id="search-field">
      <mat-label>
        Поиск по категориям
      </mat-label>
      <input type="text" (keyup)="searchData($event)" matInput placeholder="Введите название"
        [formControl]="searchValueControl">
      <mat-icon *ngIf="!searchValueControl.value" matSuffix>search</mat-icon>
      <button mat-button type="reset" *ngIf="searchValueControl.value" matSuffix mat-icon-button aria-label="Очистить"
        (click)="resetFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field id="date-picker" appearance="outline" (click)="costsDate.open()">
      <input matInput [matDatepicker]="costsDate" [formControl]="costsDateControl">
      <mat-datepicker-toggle matSuffix [for]="costsDate"></mat-datepicker-toggle>
      <mat-datepicker #costsDate></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-spinner *ngIf="isLoading" color="accent">
  </mat-spinner>
  <mat-table *ngIf="!isLoading" [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows
    id="costs-table">
    <ng-container *ngFor="let gridColumn of gridColumns; let i = index" [matColumnDef]="gridColumn.propertyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{gridColumn.displayName}}</mat-header-cell>
      <mat-cell *matCellDef="let cost">{{cost[gridColumn.propertyName]}}</mat-cell>
      <div *ngIf="gridColumn.propertyName === 'amountToDisplay'; else elseFooter">
        <mat-footer-cell *matFooterCellDef>Итого: {{getTotalCosts() | currency}}</mat-footer-cell>
      </div>
      <ng-template #elseFooter>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-template>
    </ng-container>
    <ng-container [matColumnDef]="'editColumn'">
      <mat-header-cell *matHeaderCellDef>Редактировать</mat-header-cell>
      <mat-cell *matCellDef="let cost" (click)="editCost(cost)"><button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button></mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container [matColumnDef]="'deleteColumn'">
      <mat-header-cell *matHeaderCellDef>Удалить</mat-header-cell>
      <mat-cell *matCellDef="let cost" (click)="deleteCost(cost)"><button mat-icon-button id="btn-delete-cost"
          color="primary">
          <mat-icon>delete</mat-icon>
        </button></mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="visibleGridColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let cost; columns: visibleGridColumns;" (dblclick)="editCost(cost)"></mat-row>
    <mat-footer-row *matFooterRowDef="visibleGridColumns; sticky: true"></mat-footer-row>
  </mat-table>
</app-toolbar>