
#actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12pt;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

#search-field {
  width: 300px;
  color: #673ab7;
  min-width: 150px;
}

/* #search-field mat-icon {

} */

#btn-close-month {
  min-width: 150px;
}

#date-picker {
  width: 300px;
  color: #673ab7;
  min-width: 150px;
}

mat-table {
  margin-left: 10px;
  margin-right: 10px;
}

mat-header-row {
  background-color: #673ab7;
}

mat-header-row > mat-header-cell {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

mat-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

mat-row:hover {
  background-color: rgb(234, 237, 255);
}

::ng-deep .mat-sort-header-arrow {
  color: white;
}

