<app-toolbar>
    <div class="container-cards">
        <mat-card id="card-income">
            <mat-card-header>
                <mat-card-title>Доход и остаток средств</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               
            </mat-card-content>
        </mat-card>
        <mat-card id="card-income">
            <mat-card-header>
                <mat-card-title>Доход и остаток средств</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               
            </mat-card-content>
        </mat-card>
        <mat-card id="card-income">
            <mat-card-header>
                <mat-card-title>Доход и остаток средств</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               
            </mat-card-content>
        </mat-card>
    </div>
</app-toolbar>