.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#caption {
  width: 100%;
  color: #673ab7;
  text-align: center;
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
}

.field-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.field-container > mat-form-field {
  width: 83%;
}

.btn-action {
  width: 7%;
  color: #673ab7;
  margin-top: 10px;
}

#expandedPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
#expandedPanel mat-form-field {
  width: 83%;
}
