<app-toolbar>
    <div id="actions-container">
      <mat-form-field id="picker-begin-date" appearance="outline" (click)="incomesBeginDate.open()" >
        <input matInput [matDatepicker]="incomesBeginDate" [formControl]="incomesBeginDateControl">
        <mat-datepicker-toggle matSuffix [for]="incomesBeginDate"></mat-datepicker-toggle>
        <mat-datepicker #incomesBeginDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field id="picker-end-date" appearance="outline" (click)="incomesEndDate.open()" >
        <input matInput [matDatepicker]="incomesEndDate" [formControl]="incomesEndDateControl">
        <mat-datepicker-toggle matSuffix [for]="incomesEndDate"></mat-datepicker-toggle>
        <mat-datepicker #incomesEndDate></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="accent" id="btn-close-month">Загрузить данные</button>
    </div>
    <mat-spinner *ngIf="isLoading" color="accent">
    </mat-spinner>
    <mat-table *ngIf="!isLoading" [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows id="costs-table">
      <ng-container *ngFor="let gridColumn of gridColumns" [matColumnDef]="gridColumn.propertyName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{gridColumn.displayName}}</mat-header-cell>
        <mat-cell *matCellDef="let cost">{{cost[gridColumn.propertyName]}}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="'editColumn'">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Редактировать</mat-header-cell>
        <mat-cell *matCellDef="let cost" (click)="editCost(cost)"><button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button></mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="'deleteColumn'">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Удалить</mat-header-cell>
        <mat-cell *matCellDef="let cost" (click)="deleteCost(cost)"><button mat-icon-button id="btn-delete-cost" color="primary">
            <mat-icon>delete</mat-icon>
          </button></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="visibleGridColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let cost; columns: visibleGridColumns;" (dblclick)="editCost(cost)"></mat-row>
    </mat-table>
  </app-toolbar>
  